NODE_ENV=development
PORT=5001
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb://localhost:27017/contrib_tracker
JWT_ACCESS_SECRET=replace-me-access-secret
JWT_REFRESH_SECRET=replace-me-refresh-secret
GITHUB_CLIENT_ID=replace-me
GITHUB_CLIENT_SECRET=replace-me
